:root {
  --blue: #123bbb;
  --green: #00c06a;
  --red: #f01818;
}

.App,
.feedback,
main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 25px;
}

body {
  color: var(--blue);
  display: flex;
  font-family: sans-serif;
  font-weight: 300;
  justify-content: center;
}

main {
  margin-bottom: 54px;
}

h1 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 10px;
}

h2 {
  font-weight: 300;
  margin: 0 0 5px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  h2 {
    width: 75%;
  }
}

h2.romaji {
  font-style: italic;
}

h3 {
  font-weight: 300;
}

p.definition {
  margin: 15px 30px 40px 30px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  p.definition {
    width: 50%;
  }
}

input {
  border: 2px solid var(--blue);
  border-radius: 0;
  color: var(--blue);
  font-size: 1.5rem;
  font-weight: 300;
  height: 40px;
  margin: 0 auto 50px auto;
  padding: 5px 15px;
}

input.secret {
  height: 0px;
  margin: 0;
  opacity: 0;
}

.keyboard {
  border-left: 1px solid var(--blue);
  border-bottom: 1px solid var(--blue);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.keyboard div {
  border-top: 1px solid var(--blue);
  border-right: 1px solid var(--blue);
  color: var(--blue);
  font-size: 28px;
  padding: 20px 0px;
  text-align: center;
  width: 90px;
}

.button {
  align-items: center;
  cursor: pointer;
  border: 2px solid var(--blue);
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px 0px;
  width: 50%;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.widget {
  background: white;
  border: 2px solid var(--blue);
  box-shadow: 20px 20px 0px 0px;
  margin: 30px;
  padding: 30px;
  position: absolute;
  width: 63%;
  z-index: 3;
}

.spacer {
  background: transparent;
  height: 80px;
  margin: 0 0 -101px 0;
}

.mini {
  width: 35px;
}

.top-right {
  float: right;
}

.notice {
  border: 2px solid var(--red);
  color: var(--red);
}

.info {
  border: 2px solid var(--green);
  color: var(--green);
}

span.info {
  border: none;
}

footer {
  align-items: center;
  background: white;
  border-top: 1px solid var(--blue);
  bottom: 0;
  display: flex;
  font-size: 10px;
  justify-content: space-around;
  position: absolute;
  text-align: center;
  width: 100%;
}

footer p {
  margin: 0;
  padding: 15px 0px;
  width: 30%;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.75rem;
    margin: 10px auto;
  }
  input {
    margin: 0 auto 15px auto;
    max-width: 100%;
  }
  .button {
    margin-bottom: 15px;
  }
  h3 {
    margin-top: 0;
  }
  p.definition {
    margin: 5px 30px 15px 30px;
  }
  p.definition + .button {
    margin-bottom: 0;
  }
}
