:root {
  --blue: #123bbb;
  --pink: #fab2b3;
  --purple: #666bbb;
}

body {
  color: var(--blue);
  display: flex;
  font-family: sans-serif;
  justify-content: center;
}

h1 {
  color: var(--blue);
}

input {
  margin: 0 auto 50px auto;
}

input.secret {
  margin: 0;
  opacity: 0;
}

.keyboard {
  border-left: 1px solid var(--blue);
  border-bottom: 1px solid var(--blue);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.keyboard div {
  border-top: 1px solid var(--blue);
  border-right: 1px solid var(--blue);
  color: var(--blue);
  font-size: 28px;
  padding: 20px 0px;
  text-align: center;
  width: 90px;
}

.button {
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--blue);
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px 0px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
